
html,body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.page-content{
    
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;;
    height: 100vh;
    width: 100vw;
}

.header{
    grid-row: 1/2;
    grid-column: 2/-1;
    background-color: #333333;
    padding: 1.5rem;
    color: white;
}


.sidebar{

    grid-column: 1/2;
    grid-row: 1/-1;
    background-color: #4A90E2 ;
    padding: 1rem;  
    width: 15vw;
}



.content{
    grid-row: 2/-1;
    grid-column: 2/-1;
    background-color: #F5F5F5 ;
    padding: 5rem;
}


ul{
    display:flex;
    flex-direction: column;
    gap: 2rem;
}


.todo:hover{
    background-color:#FF6F6199 ;
}

.project-name{
    font-size: 2rem;
    font-weight: bold;
}


.todos{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
}

.todo{
    display:flex;
    gap: 1rem;
}

.todo-delete{
    margin-left:auto;
}

.projects{
    display:flex;
    flex-direction: column;
    gap: 1rem;


}

.project-button{
    border: none;
    font-size: 1.2rem;
    background-color: #4A90E2;
    color: #333333;
    position:relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    

}

.project-button:hover{
    background-color: #33333388;;
    color: white;

}

.project-button::before{
    content: '#';
    color: white;

    position:absolute;
    left: 1rem;
}


.add-icon{
    width: 2rem;
    height: 2rem;
}


.add-todo-button{
    cursor: pointer;    border: none;

}

.add-Todo{
    display:flex;
    gap : 30px;
    margin-top: 2rem;
}

.add-Todo:hover{
    color: black;
    font-size: bold;;
    background-color: #FF6F6166;
    cursor: pointer;
}


form{
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
    
}

input{
    border: none;
    outline: none;
}

textarea{
    resize:none;
    outline:none;
}

.submit{
    width: 5rem;
}

.form-buttons{
    margin-left: auto;
    gap: 10px;
    display:flex;

}

.hidden{
    display:none;
}